<section class="section-wrapper abt" id="about">
  <div class="container section-about-me">
    <h2 class="about-me-section">
      About <span class="about-me-section-span">me</span>
    </h2>
    <div class="about-me-container">
      <picture class="about-me-photo">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/about/about-me-pc.jpg    1x,
            /img/about/about-me-pc-2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about/about-me-tab.jpg    1x,
            /img/about/about-me-tab-2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767.98px)"
          srcset="
            /img/about/about-me-mob.jpg    1x,
            /img/about/about-me-mob-2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          src="/img/about/about-me-mob-2x.jpg"
          alt="My photo"
          width="384"
          height="448"
          class="about-me-img"
        />
      </picture>
      <div class="bio">
        <h3 class="bio-title">BIO</h3>

        <div class="bio-text-wrapper">
          <p class="bio-text">
            I'm Lloyd Jefferson, a talented programmer specializing in software
            development. My expertise spans various programming languages and
            technologies, and I am dedicated to continually enhancing my skills.
            I thrive on seeking unconventional and creative solutions to
            problems, leveraging a high level of analytical skills to
            effectively tackle even the most challenging tasks.
          </p>

          <p class="bio-text">
            Adaptable to both independent and team-oriented work, I collaborate
            seamlessly with colleagues, exchanging ideas and finding optimal
            solutions. My professional maturity enables me to navigate
            challenges and stressful situations with a calm demeanor,
            maintaining a consistently high quality of work. Committed to
            self-improvement, I actively engage in studying new technologies and
            practices to stay current with the latest innovations in the field.
          </p>
        </div>
      </div>
    </div>
    <div class="about-me-info">
      <div class="about-me-content-item">
        <h4 class="educ-title">EDUCATION</h4>
        <ul class="educ-list">
          <li class="educ-list-item">
            <span class="list-mark">&#9679;</span>
            <p class="educ-list-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="educ-list-item">
            <span class="list-mark">&#9679;</span>
            <p class="educ-list-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="educ-list-item">
            <span class="list-mark">&#9679;</span>
            <p class="educ-list-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </div>
      <div class="about-me-content-list">
        <h4 class="role-title">ROLE</h4>
        <ul class="role-list">
          <li class="role-list-item">
            <span class="list-mark">&#9679;</span>
            <p class="role-list-text">Frontend development</p>
          </li>
          <li class="role-list-item">
            <span class="list-mark">&#9679;</span>
            <p class="role-list-text">HeadlessCMS, Wordpress</p>
          </li>
          <li class="role-list-item">
            <span class="list-mark">&#9679;</span>
            <p class="role-list-text">Blender (enjoy)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
