<section class="container benefits">
  <div class="benefits-cont">
    <h2 class="benefits-title"><span class="benefits-span">Benefits</span> of working with me</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-icon" width="40" height="40">
          <use href="img/icons.svg#icon-user"></use>
        </svg>
        <h3 class="benefits-h">Expertise</h3>
        <p class="benefits-p">With extensive experience in development, I have a deep understanding of programming and
          website development.</p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="40" height="40">
          <use href="img/icons.svg#icon-message-chat-circle"></use>
        </svg>
        <h3 class="benefits-h">Communication</h3>
        <p class="benefits-p">Understanding your needs and wants is my priority and I am always available for
          discussions
          and
          open to corrections.</p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="40" height="40">
          <use href="img/icons.svg#icon-brush"></use>
        </svg>
        <h3 class="benefits-h">Art</h3>
        <p class="benefits-p">Thanks to my creative nature, I am ready to accept challenges and help you bring your
          ideas to
          life.</p>
      </li>
      <li class="benefits-item">
        <svg class="benefits-icon" width="40" height="40">
          <use href="img/icons.svg#icon-hourglass"></use>
        </svg>
        <h3 class="benefits-h">Urgent execution</h3>
        <p class="benefits-p">I understand how important time is to you. Ready to work quickly and efficiently, without
          reducing the quality of work.</p>
      </li>
    </ul>
  </div>
</section>
