<section class="container faq-sec">
  <div class="faq-content">
    <div>
      <h2 class="faq-title">
        Frequently Asked <span class="faq-span">Questions</span>
      </h2>

    </div>
    <ul class="faq-list">
      <li class="faq-item">
        <button class="faq-question" aria-expanded="true">
          What programming languages are most often used in your project?
          <span class="faq-arrow"></span>
        </button>
        <div class="faq-answer">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-question" aria-expanded="false">
          What are the deadlines for the project?
          <span class="faq-arrow"></span>
        </button>
        <div class="faq-answer">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-question" aria-expanded="false">
          What payment methods do you accept?
          <span class="faq-arrow"></span>
        </button>
        <div class="faq-answer">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-question" aria-expanded="false">
          How can I contact you?
          <span class="faq-arrow"></span>
        </button>
        <div class="faq-answer">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-question" aria-expanded="false">
          Do you provide advice or support?
          <span class="faq-arrow"></span>
        </button>
        <div class="faq-answer">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <button class="faq-question" aria-expanded="false">
          What does the process of developing a software product look like from
          idea to implementation?
          <span class="faq-arrow"></span>
        </button>
        <div class="faq-answer">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>