<header class="header">
  <div class="container">

    <nav class="nav">
      <a href="index.html" class="logo">LLOYD<span class="accet-color">JEFFERSON.</span></a>
      <div class="left-group">
        <div class="toggle"></div>
        <div class="ham-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link {=$highlight-act}" href="">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {=$highlight-curr}" href="">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
    
  </div>
</header>
