<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="index.html" class="logo"
        >LLOYD<span class="accet-color">JEFFERSON.</span></a
      >
      <div class="left-group">
        <div class="toggle"></div>
        <div class="ham-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#about-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#work-together-title">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="off-screen-menu">
  <ul class="mob-menu">
    <li><a href="#about-me">About me</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#work-together-title">Contacts</a></li>
  </ul>
</div>