<hero class="hero-main">
  <div class="container hero-container">
    <div class="hero-title-link">
      <h1 class="main-title">
        Hello, I am <span class="span">Fullstack developer</span>
      </h1>
      <a class="hero-link" href="./my-projects.html">
        <svg class="icon" width="30" height="16">
          <use href="./img/hero/desktop-two-min.png"></use>
        </svg>
        <p class="hero-link-text">Order the project</p>
      </a>
    </div>
    <div class="hero-photo-text-container">
      <picture>
        <source
          srcset="./img/hero/img-hero-1x.jpg, ./img/hero/img-hero-2x.jpg 2x"
          media="(min-width: 1280px)"
          type="image/jpg"
        />
        <img
          loading="lazy"
          src="./img/hero/img-hero-1x.jpg"
          alt="photo-of-a-man-with-beard"
          width="592"
          height="444"
          class="img"
        />
      </picture>
      <p class="hero-text">
        I work with people all over the world to create
        <span class="span">impressive</span> and
        <span class="span">functional websites</span> that reflect each client’s
        unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-social-list">
    <li class="hero-social-item">
      <a href="https://www.instagram.com/goitclub/" target="_blank"
        >Instagram</a
      >
    </li>
    <li class="hero-social-item">
      <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
    </li>
    <li class="hero-social-item">
      <a href="https://www.linkedin.com/ser-in-it" target="_blank">Linkedin</a>
    </li>
    <li class="hero-social-item">
      <a href="./" target="_blank">GitHub</a>
    </li>
  </ul>
</hero>
