<section class="my_projects">
  <div class="container">
    <h2>My <span class="accet-color">Projects</span></h2>
    <ul class="project-list">
      <li class="project_card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my_projects/projects-mob-00-min.png    1x,
              ./img/my_projects/projects-mob-00@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/my_projects/projects-tabl-00-min.png    1x,
              ./img/my_projects/projects-tabl-00@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my_projects/projects-desk-00-min.png    1x,
              ./img/my_projects/projects-desk-00@2x-min.png 2x
            "
          />
          <img
            class="project-img-card"
            src="./images/my_projects/projects-desk-00-min.png"
            alt="Wallet webservice"
            loading="lazy"
          />
        </picture>
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <div class="bottom-box">
          <h3 class="project-name">Wallet webservice</h3>
          <a href="https://github.com/VH-str/project-JS-TeamWork-FullStalkers" target="_blanc">
            <button class="visit-button">
              VISIT
              <svg width="24" height="24">
                <use
                  href="./img/my_projects/icon-icon_visit.svg#icon-icon_visit"
                ></use>
              </svg>
            </button>
          </a>
        </div>
      </li>

      <li class="project_card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my_projects/projects-mob-01-min.png    1x,
              ./img/my_projects/projects-mob-01@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/my_projects/projects-tabl-01-min.png    1x,
              ./img/my_projects/projects-tabl-01@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my_projects/projects-desk-01-min.png    1x,
              ./img/my_projects/projects-desk-01@2x-min.png 2x
            "
          />
          <img
            class="project-img-card"
            src="./images/my_projects/projects-desk-01-min.png"
            alt="Wallet webservice"
            loading="lazy"
          />
        </picture>
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <div class="bottom-box">
          <h3 class="project-name">Green harvest webservice</h3>
          <a href="https://github.com/VH-str/project-JS-TeamWork-FullStalkers" target="_blanc">
            <button class="visit-button">
              VISIT
              <svg width="24" height="24">
                <use
                  href="./img/my_projects/icon-icon_visit.svg#icon-icon_visit"
                ></use>
              </svg>
            </button>
          </a>
        </div>
      </li>

      <li class="project_card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my_projects/projects-mob-02-min.png    1x,
              ./img/my_projects/projects-mob-02@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/my_projects/projects-tabl-02-min.png    1x,
              ./img/my_projects/projects-tabl-02@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my_projects/projects-desk-02-min.png    1x,
              ./img/my_projects/projects-desk-02@2x-min.png 2x
            "
          />
          <img
            class="project-img-card"
            src="./images/my_projects/projects-desk-02-min.png"
            alt="Wallet webservice"
            loading="lazy"
          />
        </picture>
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <div class="bottom-box">
          <h3 class="project-name">English Exellence webservice</h3>
          <a
            href="https://github.com/VH-str/project-JS-TeamWork-FullStalkers"
            target="_blanc"
          >
            <button class="visit-button">
              VISIT
              <svg width="24" height="24">
                <use
                  href="./img/my_projects/icon-icon_visit.svg#icon-icon_visit"
                ></use>
              </svg>
            </button>
          </a>
        </div>
      </li>
    </ul>
    <button class="more-projects">
      <p class="more-projects-text">LOAD MORE</p>
    </button>
  </div>
</section>
