<section class="my_projects">
  <div class="container">
    <h2>My <span class="accet-color">Projects</span></h2>
    <ul class="project-list">
      <li class="project_card">
        <img
          class="project-img-card"
          src="./img/my_projects/img1-2x.jpg"
          alt=""
        />
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <h3 class="project-name">Wallet webservice</h3>
      </li>
      <li class="project_card">
        <img
          class="project-img-card"
          src="./img/my_projects/img2-2x.jpg"
          alt=""
        />
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <h3 class="project-name">Green harvest webservice</h3>
      </li>
      <li class="project_card">
        <img
          class="project-img-card"
          src="./img/my_projects/img3-2x.jpg"
          alt=""
        />
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <h3 class="project-name">English Exellence webservice</h3>
      </li>
    </ul>
  </div>
</section>
