<section class="tech-skills">
  <div class="container tech-skills-container">
    <h2 class="tech-heading">Tech Skills</h2>
    <div class="marquee">
      <div class="marquee-line">
        <div class="marquee-content">
          <span class="marquee-dot"></span>
          <span class="marquee-text">HTML/CSS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">JAVASCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">NODE.JS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT NATIVE</span>
          <span class="marquee-dot"></span>
          <span class="mmarquee-text">TYPESCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">HTML/CSS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">JAVASCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">NODE.JS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT NATIVE</span>
          <span class="marquee-dot"></span>
          <span class="mmarquee-text">TYPESCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">HTML/CSS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">JAVASCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">NODE.JS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT NATIVE</span>
          <span class="marquee-dot"></span>
          <span class="mmarquee-text">TYPESCRIPT</span>
          <span class="marquee-dot"></span>
        </div>
      </div>

      <div class="marquee-line tilted">
        <div class="marquee-content">
          <span class="marquee-dot"></span>
          <span class="marquee-text">HTML/CSS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">JAVASCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">NODE.JS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT NATIVE</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">TYPESCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">HTML/CSS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">JAVASCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">NODE.JS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT NATIVE</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">TYPESCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">HTML/CSS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">JAVASCRIPT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">NODE.JS</span>
          <span class="marquee-dot"></span>
          <span class="marquee-text">REACT NATIVE</span>
          <span class="marquee-dot"></span>
          <span class="mmarquee-text">TYPESCRIPT</span>
          <span class="marquee-dot"></span>
        </div>
      </div>
    </div>
  </div>
</section>
