<section class="work-together container" aria-labelledby="work-together-title">
  <h2 id="work-together-title" class="benefits-title wt-title">
    LET'S <span class="benefits-span">WORK TOGETHER</span>
  </h2>
  <div class="activ-part">
    <div class="wt-contacts">
      <p class="wt-text">
        CONTACT ME TO TRANSFORM YOUR IDEAS INTO EXCEPTIONAL SOLUTIONS
      </p>
      <address class="address-wt">
        <ul class="address-wt-list">
          <li class="address-wt-list-item">
            <svg
              class="address-wt-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="img/icons.svg#icon-phone"></use>
            </svg>
            <a
              class="address-wt-list-item-link"
              href="tel:+380904567890"
              aria-label="Phone number"
              >+380904567890</a
            >
          </li>
          <li class="address-wt-list-item">
            <svg
              class="address-wt-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="img/icons.svg#icon-mail"></use>
            </svg>
            <a
              class="address-wt-list-item-link"
              href="mailto:lloydjefferson@gmail.com"
              aria-label="Email address"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="address-wt-list-item">
            <svg
              class="address-wt-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="img/icons.svg#icon-geolocation"></use>
            </svg>
            <a
              class="address-wt-list-item-link"
              href="https://www.google.com/maps?q=New+York"
              target="_blank"
              aria-label="Location"
              >USA, New York</a
            >
          </li>
        </ul>
      </address>
    </div>
    <form action="/submit" method="post" class="wt-form">
      <legend class="sr-only"></legend>
      <div class="form-group">
        <label for="user-email" class="sr-only"></label>
        <input
          type="email"
          class="wt-input"
          name="user-email"
          id="user-email"
          placeholder="Your email*"
          required
        />
      </div>
      <div class="form-group">
        <label for="user-message" class="sr-only"></label>
        <textarea
          name="user-message"
          class="wt-message wt-input"
          id="user-message"
          cols="30"
          rows="10"
          placeholder="Message"
          required
        ></textarea>
      </div>
      <button type="submit" class="wt-submit" aria-label="Send your message">
        SEND MESSAGE
      </button>
    </form>
  </div>
  <div class="backdrop">
    <div class="modal">
      <button type="button" class="close-button-modal">
        <svg class="close-button-svg" width="24" height="24">
          <use href="img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</section>
