@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/impact.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
   font-family: 'Poppins','Impact', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300; 

  /* emilys-candy-regular - latin */

  color: #292929;
  /* background-color: rgba(250, 250, 250, 0.87); */
  background-color: rgba(250, 250, 250, 1.0);
  --header-color: rgba(250, 250, 250, 1.0);
  --accet-green: #00B068;
  --hover-green: #009156;
  --color: #292929;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-dark {
  color: #f0f0f0;
  background-color: rgba(30, 32, 35, 1.0);
  --header-color: rgba(30, 32, 35, 1.0);
  --accet-green: #14c57c;
  --color: #f0f0f0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}


