body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Impact', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--main-cl);
  background-color: var(--main-bcg);
}

main {
  flex-grow: 1;
}
