.header {
  padding: 20px;
  position: fixed;
  background-color: var(--header-color);
  top: 0;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: Impact;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  span.accet-color {
    color: var(--accet-green);
  }
}

.left-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.toggle {
  width: 48px;
  height: 24px;
  background-color: #333;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
  }
}

.toggle.dark {
  background-color: #f0f0f0;

  &::before {
    transform: translateX(24px);
    background-color: #333;
  }
}

.nav-list {
  display: none;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  transition: 200ms ease-in;
  color: var(--hover-green);
}

/* ham menu */
.ham-menu {
  height: 32px;
  width: 24px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 2px;
  width: 100%;
  background-color: var(--color);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
  }

  .nav {
    .logo {
      font-size: 32px;
      line-height: 32px;
    }
  }

  .ham-menu {
    display: none;
  }
}
