.my_projects {
  text-align: center;

  .container {
    h2 {
      font-family: Impact;
      font-size: 52px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 1.8px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      text-transform: uppercase;
    }

    span.accet-color {
      color: var(--accet-green);
    }
  }

  .project-list {
    width: 320px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 16px;
  }

  .project-img-card {
    border-radius: 16px;
    margin-bottom: 16px;
  }

  .project-skills {
    text-align: left;
  }

  .project-name {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 108px;
      line-height: 124px;
    }

    .project-list {
      width: 704px;
      margin: 60px auto;
      border-radius: 24px;
      gap: 60px;
    }

    .project-img-card {
      border-radius: 24px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .project-list {
      width: 1008px;
      margin: 80px auto;
      gap: 80px;
    }
  }
}
