/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./global.css');
@import url('./fonts.css');
@import url('./common.css');

@import url('./css_partials/header.css');
@import url('./css_partials/hero.css');
@import url('./css_partials/about-me.css');
@import url('./css_partials/benefits.css');
@import url('./css_partials/faq.css');
@import url('./css_partials/my-projects.css');
@import url('./css_partials/reviews.css');
@import url('./css_partials/footer.css');
@import url('./css_partials/mobile-form.css');
@import url('./css_partials/tech-skills.css');
@import url('./css_partials/work-together.css');


:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', 'Impact', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;

  /* emilys-candy-regular - latin */

  color: #292929;
  /* background-color: rgba(250, 250, 250, 0.87); */
  background-color: rgba(250, 250, 250, 1);
  --header-color: rgba(250, 250, 250, 1);
  --accet-green: #00b068;
  --hover-green: #009156;
  --color: #292929;
  --project-button: #e4e5e6;
  --project-button-hover: #bbbbbb;
  --bn-icon-background-color: #bcdfd1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --tech-top: #bcdfd1;
  --tech-bottom: #e4e5e6;
  --faq-item-bgcolor: rgba(188, 223, 209, 1);
}

.bg-dark {
  color: #f0f0f0;
  background-color: rgba(30, 32, 35, 1);
  --header-color: rgba(30, 32, 35, 1);
  --accet-green: #14c57c;
  --color: #f0f0f0;
  --project-button: #2a2d32;
  --project-button-hover: #3b3f45;
  --bn-icon-background-color: #204136;
  --tech-top: #204136;
  --tech-bottom: #2a2d32;
  --faq-item-bgcolor: rgba(32, 65, 54, 1);
}

@media only screen and (min-width: 1200px) {
  .bg-dark .benefits {
    background-image: url("../img/benefits-img/bnf-bg.png");
    background-size: 526px 428px;
    background-repeat: no-repeat;
    background-position: right 32px top 48px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
    .bg-dark .benefits {
      background-image: url("../img/benefits-img/bnf-bg-2х.png");
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min-resolution: 288dpi) {
    .bg-dark .benefits {
      background-image: url("../img/benefits-img/bnf-bg-3x.png");
    }
  }
}