.faq-title {
    font-family: 'Impact', sans-serif;
    text-align: start;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
  
    text-transform: uppercase;
    color: var(--main-cl);
    margin-bottom: 40px;
  }
  
  .faq-span {
    color: var(--accet-green);
  }
  
  .faq-list {
    list-style: none;
    font-family: "Poppins", sans-serif;
    padding: 0;
  }
  
  .faq-item {
    align-items: flex-start;
    justify-content: start;
    flex-direction: row;
    gap: 16px;
    
    width: 320px;
    border-radius: 16px 16px 0 0;
    border-bottom: 1px solid var(--main-bcg);
    overflow: hidden;
    transition: color var(--time) var(--cubic),
        background-color var(--time) var(--cubic);
  }
  
  .faq-question {
    display: flex;
    border: none;
    border-bottom: 2px solid rgba(251, 251, 251, 0.1);
    width: inherit;
    cursor: pointer;
    align-items: center;
    justify-content:space-between;
    text-align: left;
    transition: background-color var(--time) var(--cubic);
    gap: 16px;
  
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  
    text-transform: uppercase;
    color: var(--main-cl);
    padding: 28px 24px;
    position: relative;
  
    transition: color var(--time) var(--cubic),
      background-color var(--time) var(--cubic);
  }
  
  .faq-item.open .faq-question {
    background-color: var(--second-bcg);
    border-radius: 16px 16px 0 0;
  }
  
  .faq-item:hover {
    border-radius: 16px;
  }
  
  .faq-question.active {
    background-color: var(--second-bcg);
    border-bottom: none;
  }
  
  .faq-item:not(.open) .faq-question {
    border-radius: 0;
  }
  
  .faq-answer {
    display: none;
    padding: 0 24px 28px;
  
    background-color: var(--second-bcg);
    border-radius: 0 0 16px 16px;
  
    letter-spacing: 0.03em;
    color: var(--main-cl);
  }
  
  .faq-item.open .faq-answer {
    display: block;
  }
  
  .faq-answer.show {
    display: block;
  }
  
  .faq-arrow {
    /* position: absolute; */
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
  
    flex-shrink: 0;
    margin-left: 24px;
    top: 28px;
    right: 24px;
  
    border: solid var(--color);
  
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform-origin: center;
    transition: transform 0.3s;
  }
  
  .active, .open, .show{
    background-color: var(--faq-item-bgcolor);
    border-radius: 16px;
  }

  .faq-arrow.open {
    transform: translateY(-50%) rotate(225deg);
    border-radius: 0px;
  }
  
  /* ==========TABLET============ */
  
  @media screen and (min-width: 768px) {
    .faq-title {
      font-size: 108px;
      line-height: 1.15;
      letter-spacing: 0.02em;
      margin-bottom: 60px;
    }
  
    .faq-question {
      font-size: 20px;
      line-height: 1.6;
    }

    .faq-item{
      width: 704px;
    }
  }
  
  /* ====DESKTOP==== */
  
  @media screen and (min-width: 1280px) {
    .title-qth {
      display: flex;
      flex-direction: row;
      width: 520px;
    }
  
    .faq-content {
      display: flex;
      flex-direction: row;
    }
  
    .faq-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
    }
  
    .faq-list {
      width: 592px;
      margin-top: 276px;
    }
  
    .faq-question {
      justify-content: space-between;
    }

    .faq-item{
      width: 592px;
    }
  }

@media only screen and (min-width: 1200px) {
  .faq-sec {
    background-image: url("/img/faq-img/decor-bg-min.png");
      background-size: 526px 428px;
      background-repeat: no-repeat;
      background-position: left 32px bottom 48px;
  }
}