.hero-main {
  margin-top: 72px;
}

.hero-container {
  padding-top: 112px;
  position: relative;
  background-image: url('/img/hero/mob-bg-hero.png');
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 72px;
}

.hero-container::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(''), url('');
  background-repeat: no-repeat, no-repeat;
  background-position: top 16px right, right 8px top 365px;
  background-size: 340px 265px, 170px 132px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero-main {
    margin-top: 96px;
  }

  .hero-container {
    padding-top: 88px;
    background-image: url('/img/hero/tablet-bg-hero.png');
    padding-bottom: 96px;
  }

  body.bg-dark .hero-container {
    background-image: url('/img/hero/tablet-bg-dark-hero.png');
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 88px;
    display: flex;
    gap: 72px;
    background-image: url('/img/hero/desktop-bg-hero.png');
  }

  body.bg-dark .hero-container {
    background-image: url('/img/hero/desktop-bg-dark-hero.png');
  }
}

.main-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 124px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .main-title {
    margin-bottom: 80px;
  }
}

.span {
  color: var(--accet-green);
}

.icon {
  fill: #00b068;
  transition: transform 0.4s var(--cubic);
}

@media screen and (max-width: 1280px) {
  .img {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .img {
    display: block;
    border-radius: 32px;
    width: 592px;
    height: 444px;
  }
}

.hero-link {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 416px;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 40px;
}

.hero-link::after {
  content: '';
  width: 200px;
  height: 92px;
  margin-left: -130px;
  background-color: #bcdfd1;
  border-radius: 16px;
  transition: background-color 200ms var(--cubic);
  z-index: -1;
}

.hero-link::after:hover,
.hero-link::after:focus {
  background-color: #00b068;
}

body.bg-dark .hero-link::after {
  background-color: #14c57c;
}

body.bg-dark .hero-link:hover::after {
  background-color: #009156;
}

body.bg-dark .icon {
  fill: #14c57c;
}

@media screen and (min-width: 768px) {
  .hero-link::after {
    margin-left: -107px;
    width: 261px;
    height: 96px;
  }
}

.hero-link:hover::after {
  background-color: #00b068;
}

.hero-link-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: transform 0.4s var(--cubic);
}

@media screen and (min-width: 768px) {
  .hero-link-text {
    font-size: 20px;
  }
}

.hero-link:hover .hero-link-text,
.hero-link:hover .icon {
  transform: translateX(76px);
}

@media screen and (min-width: 768px) {
  .hero-link:hover .hero-link-text {
    transform: translateX(138px);
  }
}

@media screen and (min-width: 1280px) {
  .hero-link {
    margin-left: 76px;
  }
  .hero-link {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-photo-text-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    min-width: 592px;
  }
}

.hero-text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
  }
}

.hero-social-list {
  background-color: var(--bc-color-hero);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0px;
}

.hero-social-list {
  transition: color 0.2s #2a2d32; /* Додано '0.2s' для тривалість */
}

.hero-social-item:hover,
.hero-social-item:focus {
  color: #00b068;
}

@media screen and (min-width: 768px) {
  .hero-social-list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 40px 0px;
  }
}

.hero-social-item {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.hero-link {
  display: flex;
}

@media screen and (max-width: 1280px) {
  body.bg-dark .hero-text {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 88px;
  }
}

body.bg-dark .hero-link::after {
  background-color: #00b068;
}

body.bg-dark .hero-link:hover::after {
  background-color: rgba(20, 197, 124, 1);
}

@media screen and (min-width: 1280px) {
  body.bg-dark .span {
    opacity: 1;
  }
}
