.work-together-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.green-collorText {
  color: #00b068;
}

.work-together-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--black);
}

.work-together-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 32px;
}

.address-block {
  font-style: normal;
  margin-bottom: 40px;
}

.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.address {
  display: flex;
  gap: 16px;
  outline: none;
  transition: color 250ms;
}

.address:hover,
.address:focus {
  color: #00b068;
}

.item-icon {
  fill: none;
  stroke: #00b068;
}

.email-confirm {
  margin-bottom: 32px;
  color: #00b068;
}

.invalid-email.is-hidden-text {
  display: none;
}

.form-input {
  border-radius: 8px;
  padding-left: 16px;
  width: 100%;
  height: 48px;
  margin-bottom: 32px;
  color: #292929;
  background-color: #e4e5e6;
  outline: 0.2px solid transparent;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms;
}

.form-input:hover,
.form-input:focus-within {
  outline-color: #00b068;
}

.input-form {
  position: relative;
}

.done-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #00b068;
}

.done-icon.is-hidden {
  display: none;
}

.invalid-email {
  position: absolute;
  bottom: 15px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.textela-input {
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 16px;
  width: 100%;
  height: 128px;
  outline: 0.2px solid transparent;
  border-color: transparent;
  color: #292929;
  background-color: #e4e5e6;
  cursor: pointer;
  resize: none;
  transition: background-color 250ms;
}

.textela-input:hover,
.textela-input:focus-within {
  outline-color: #00b068;
}

.send-button {
  display: block;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 48px;
  background-color: #00b068;
  color: #f0f0f0;
  font-family: Poppins Medium, sans-serif;
  font-weight: 500;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 250ms;
}

.send-button:hover,
.send-button:focus {
  background-color: #009156;
}

@media screen and (min-width: 768px) {
  .work-together-container {
    padding-top: 124px;
    padding-bottom: 124px;
    background-image: url('/img/wt/wt.png');
    background-repeat: no-repeat;
    background-position: right 32px top 13px;
    background-size: 336px 260px;
  }

  .work-together-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  .work-together-text {
    font-size: 20px;
    line-height: 1.6;
    width: 500px;
    margin-bottom: 32px;
  }

  .address-list {
    flex-direction: row;
    margin-bottom: 60px;
    column-gap: 16px;
  }

  .form-input {
    max-width: 704px;
  }

  .address-list {
    flex-direction: row;
    margin-bottom: 60px;
    column-gap: 16px;
  }

  .form-input {
    max-width: 704px;
  }

  .textela-input {
    max-width: 704px;
  }

  .send-button {
    max-width: 173px;
  }
}

@media screen and (min-width: 1280px) {
  .work-together-container {
    padding-top: 164px;
    padding-bottom: 164px;
    background-image: url('/img/wt/wt-desk.png');
    background-repeat: no-repeat;
    background-position: right 32px top 48px;
    background-size: 526px 408px;
  }

  .work-together-title {
    width: 600px;
    margin-bottom: 80px;
  }

  .work-together-text {
    margin-bottom: 120px;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .wo-toget-wall {
    display: flex;
    justify-content: space-between;
  }

  .form-input {
    width: 592px;
  }

  .wo-toget-wall {
    display: flex;
    justify-content: space-between;
  }

  .form-input {
    width: 592px;
  }

  .textela-input {
    width: 592px;
  }
}
